# Importing pandas and numpy and loading data

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
raw_dataset = pd.read_csv("/content/drive/MyDrive/ML/Datasets/Cardekho_Extract.csv")

## Data Cleaning

In [ ]:
raw_dataset['seats'] = raw_dataset['seats'].str.split('s').str[1]

In [ ]:
raw_dataset.drop(raw_dataset.columns[[0, 1, 2, 5]], axis=1, inplace=True)
# raw_dataset.head()

## Mileage

In [ ]:
raw_dataset['mileage'] = raw_dataset['mileage'].str.split('e').str[2]
raw_dataset['mileage'] = raw_dataset['mileage'].str.split(' ').str[0]

## Engine

In [ ]:
raw_dataset['engine'] = raw_dataset['engine'].str.split('e').str[1]
raw_dataset['engine'] = raw_dataset['engine'].str.split(' ').str[0]

In [ ]:
raw_dataset.isnull().sum()

In [ ]:
raw_dataset.dropna(how='all', inplace = True)

In [ ]:
raw_dataset.isnull().sum()

## Seats

In [ ]:
raw_dataset['seats'].fillna(raw_dataset['seats'].mode()[0], inplace=True)

In [ ]:
raw_dataset.dropna(subset=['engine'], inplace = True)

## Selling_price

In [ ]:
raw_dataset['selling_price'] = raw_dataset['selling_price'].str.split(' ').str[0]

## km_driven

In [ ]:
raw_dataset['km_driven'] = raw_dataset['km_driven'].str.split(' ').str[0]

## max_power

In [ ]:
raw_dataset['max_power'] = raw_dataset['max_power'].str.split('r').str[1]
raw_dataset['max_power'] = raw_dataset['max_power'].str.split(' ').str[0]

In [ ]:
clean_dataset = raw_dataset.copy()
clean_dataset.to_csv('car_prices_clean.csv', index = False)

In [ ]:
df = pd.read_csv('/content/car_prices_clean.csv')

In [ ]:
df.head()

In [ ]:
df['km_driven'] = df['km_driven'].str.replace(',', '')

In [ ]:
df["km_driven"] = pd.to_numeric(df["km_driven"])

### Basic Feature Engineering, converting year column to age and dropping the year column

In [ ]:
df['age'] = 2022 - df['year']

In [ ]:
df.drop('year',axis = 1, inplace = True)

In [ ]:
df.dropna(how = 'any', inplace = True)

## Exporting Clean dataset

In [ ]:
df.to_csv('car_prices_clean_v2.csv', index = False)